@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Constant styles  */
$mainColor: #00142c;
$secondColor: #0ec9ac;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-family: "Poppins", serif;
  font-weight: 400;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  background-color: #111163;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* // Constant Styles */

ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

p {
  font-size: 1.1rem;
  color: #000;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: $mainColor;
}

::-webkit-scrollbar-thumb {
  background-color: $secondColor;
}

/* Main Style */

.btn_style {
  background-color: #ccff7d;
  border: 1px solid #000000;
  font-size: 1.1rem;
  color: #000;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  display: block;
  width: fit-content;
  box-shadow: -6px 5px 1px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out !important;
  &:hover {
    color: $mainColor;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
}

.card_img {
  height: 100vh;
  position: relative;

  .img_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open .mm-slideout {
  z-index: auto;
}

.pd-100 {
  padding: 0 300px;
}

@media (max-width: 1920px) {
  .pd-100 {
    padding: 0 170px;
  }
}

@media (max-width: 1600px) {
  .pd-100 {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .pd-100 {
    padding: 0 90px;
  }
}

@media (max-width: 1024px) {
  .pd-100 {
    padding: 0 50px;
  }
}

@media (max-width: 600px) {
  .pd-100 {
    padding: 0 20px;
  }
}

.splach_loadin {
  overflow: hidden;
  height: 100vh;
}

.splach {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0e72;
  z-index: 999999;
  top: 0;
  transition: all 0.3s ease-in-out;
  :root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 90%);
    --fg: hsl(var(--hue), 90%, 10%);
    --line1: hsl(193, 90%, 35%);
    --line2: hsl(203, 90%, 40%);
    --line3: hsl(213, 90%, 45%);
    --line4: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    font-size: calc(14px + (30 - 14) * (100vw - 280px) / (3840 - 280));
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    font: 1em/1.5 sans-serif;
    height: 100vh;
    transition: background-color var(--trans-dur), color var(--trans-dur);
  }

  .pl {
    --dur: 4s;
    display: block;
    margin: auto;
    width: 15em;
    height: auto;
  }
  .pl__line,
  .pl__line-wobble {
    animation-duration: var(--dur);
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }
  .pl__line {
    animation-name: line-move;
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    stroke: #fff;
    transition: stroke var(--trans-dur);
  }
  .pl__line:nth-child(2) {
    stroke: #fff;
  }
  .pl__line:nth-child(3) {
    stroke: #fff;
  }
  .pl__line:nth-child(4) {
    stroke: $secondColor;
  }
  .pl__line-wobble {
    animation-name: line-wobble;
  }
  .pl__lines:nth-child(8n) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * 0.0043);
  }
  .pl__lines:nth-child(8n) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * 0.0193);
  }
  .pl__lines:nth-child(8n) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * 0.0343);
  }
  .pl__lines:nth-child(8n) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * 0.0493);
  }
  .pl__lines:nth-child(8n) .pl__line-wobble {
    animation-delay: calc(var(--dur) * 0.0493);
  }
  .pl__lines:nth-child(8n + 1) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -0.6436);
  }
  .pl__lines:nth-child(8n + 1) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -0.6286);
  }
  .pl__lines:nth-child(8n + 1) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -0.6136);
  }
  .pl__lines:nth-child(8n + 1) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -0.5986);
  }
  .pl__lines:nth-child(8n + 1) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -0.5986);
  }
  .pl__lines:nth-child(8n + 2) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -0.2921);
  }
  .pl__lines:nth-child(8n + 2) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -0.2771);
  }
  .pl__lines:nth-child(8n + 2) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -0.2621);
  }
  .pl__lines:nth-child(8n + 2) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -0.2471);
  }
  .pl__lines:nth-child(8n + 2) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -0.2471);
  }
  .pl__lines:nth-child(8n + 3) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -0.9198);
  }
  .pl__lines:nth-child(8n + 3) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -0.9048);
  }
  .pl__lines:nth-child(8n + 3) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -0.8898);
  }
  .pl__lines:nth-child(8n + 3) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -0.8748);
  }
  .pl__lines:nth-child(8n + 3) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -0.8748);
  }
  .pl__lines:nth-child(8n + 4) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -0.5472);
  }
  .pl__lines:nth-child(8n + 4) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -0.5322);
  }
  .pl__lines:nth-child(8n + 4) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -0.5172);
  }
  .pl__lines:nth-child(8n + 4) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -0.5022);
  }
  .pl__lines:nth-child(8n + 4) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -0.5022);
  }
  .pl__lines:nth-child(8n + 5) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -1.1687);
  }
  .pl__lines:nth-child(8n + 5) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -1.1537);
  }
  .pl__lines:nth-child(8n + 5) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -1.1387);
  }
  .pl__lines:nth-child(8n + 5) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -1.1237);
  }
  .pl__lines:nth-child(8n + 5) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -1.1237);
  }
  .pl__lines:nth-child(8n + 6) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -0.7966);
  }
  .pl__lines:nth-child(8n + 6) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -0.7816);
  }
  .pl__lines:nth-child(8n + 6) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -0.7666);
  }
  .pl__lines:nth-child(8n + 6) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -0.7516);
  }
  .pl__lines:nth-child(8n + 6) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -0.7516);
  }
  .pl__lines:nth-child(8n + 7) .pl__line:nth-child(1) {
    animation-delay: calc(var(--dur) * -1.4373);
  }
  .pl__lines:nth-child(8n + 7) .pl__line:nth-child(2) {
    animation-delay: calc(var(--dur) * -1.4223);
  }
  .pl__lines:nth-child(8n + 7) .pl__line:nth-child(3) {
    animation-delay: calc(var(--dur) * -1.4073);
  }
  .pl__lines:nth-child(8n + 7) .pl__line:nth-child(4) {
    animation-delay: calc(var(--dur) * -1.3923);
  }
  .pl__lines:nth-child(8n + 7) .pl__line-wobble {
    animation-delay: calc(var(--dur) * -1.3923);
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue), 90%, 10%);
      --fg: hsl(var(--hue), 90%, 90%);
    }
  }
  /* Animations */
  @keyframes line-move {
    from,
    35%,
    to {
      stroke-dashoffset: -6.99px;
    }
    50%,
    85% {
      stroke-dashoffset: 4.99px;
    }
  }
  @keyframes line-wobble {
    from,
    to {
      stroke-width: 1px;
      transform: translate(0, 6.5px);
    }
    25% {
      stroke-width: 1.5px;
      transform: translate(0, 6.5px);
    }
    31.25% {
      stroke-width: 1px;
      transform: translate(0, 7px);
    }
    37.5% {
      stroke-width: 1.5px;
      transform: translate(0, 5px);
    }
    50% {
      stroke-width: 1px;
      transform: translate(0, 6.5px);
    }
    75% {
      stroke-width: 1.5px;
      transform: translate(0, 6.5px);
    }
    81.25% {
      stroke-width: 1px;
      transform: translate(0, 6px);
    }
    87.5% {
      stroke-width: 1.5px;
      transform: translate(0, 8px);
    }
  }
}

.splashscreen_none {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

// =============================================================
.custom_navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  .navbarـbrand {
    margin-right: 12px;
  }
  .nav_item {
    padding: 0 12px;
    margin: 0 10px;
    position: relative;
    a {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 300;
      &:hover {
        color: #5c96db;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      height: 3px;
      // width: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
      transition: all 0.5s ease-in-out;
      background-color: #5c96db;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &.active {
      &::after {
        width: 100%;
      }
      a {
        color: #5c96db;
      }
    }
  }
  .get_demo {
    // padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 300;
      padding: 14px 40px;
      border-radius: 45px;
    }
    .get_demo_btn {
      background-color: #0c0c68;
      border: 1px solid #0c0c68;
      &:hover {
        background-color: #fff;
        color: #0c0c68;
        border: 1px solid #fff !important;
      }
    }
    .logout_btn {
      margin-left: 8px;
      border: 1px solid #fff;
      img {
        margin-left: 10px;
      }
      &:hover {
        background-color: #fff;
        color: #0c0c68;
        border: 1px solid #fff !important;
        img {
          transition: all 0.3s ease-in-out;
        }
        img {
          filter: grayscale(1) invert(1);
        }
      }
    }
  }
  .navbar_toggler_btn {
    display: none;
  }
}
// =============================================================

.top_section_parent {
  position: relative;
}

.custom_header {
  height: 100vh;
  background-color: #0c0b68;
  position: relative;
  overflow: hidden;
  .top_section_parent_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
  .half_circle_header {
    position: absolute;
    top: 0;
    right: 0;
  }
  .header_content {
    position: relative;
    z-index: 3;
    h5 {
      font-size: 4rem;
      color: #fff;
      line-height: 80px;
      font-weight: 600;
      span {
        color: #4c9eff;
      }
    }
    p {
      font-size: 2rem;
      color: #fff;
    }
  }

  .header_links {
    // padding: 16px 40px;
    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
    margin-top: 45px;
    a {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 300;
      padding: 14px 40px;
      border-radius: 45px;
      display: inline-block;
    }
    .header_links_demo {
      background-color: #1429a6;
      border: 1px solid #1429a6;
      &:hover {
        background-color: #fff;
        color: #0c0c68;
        border: 1px solid #fff !important;
      }
    }
    .header_links_packaged {
      margin-left: 8px;
      border: 1px solid #9dc0e9;
      background-color: #9dc0e9;
      color: #1429a6;
      img {
        margin-left: 10px;
      }
      &:hover {
        background-color: #fff;
        color: #0c0c68;
        border: 1px solid #fff !important;
        img {
          transition: all 0.3s ease-in-out;
        }
        img {
          filter: grayscale(1) invert(1);
        }
      }
    }
  }
  .header_img {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    img {
      // position: absolute;
      // width: 900px;
    }
  }
  .header_img_on_mobile {
    display: none;
  }
}

.custom_index_header {
  height: 80vh;
  .header_content {
    text-align: center;
    h5 {
      background: linear-gradient(to right, #9fb5ff, #d99dff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.3rem;
      line-height: 45px;
    }
    p {
      font-size: 1.7rem;
      margin-top: 40px;
    }
  }
}

.services_cards_index {
  padding: 100px 0;
  background-image: linear-gradient(to bottom, #3733adbc, #191476);
  padding-top: 450px;
  position: relative;
  .top_section_parent_img_2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    z-index: 8;
    width: 65%;
    margin-top: -250px;
  }
  .vector_img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.services_cards_index_card {
  padding: 40px 32px;
  background-image: linear-gradient(
    to bottom,
    rgba(#3833ad, 1),
    rgba(#1e1774, 1),
  );
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(#00000040, 0.1);
  position: relative;
  z-index: 5;
  min-height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .card_icon {
    margin-bottom: 20px;
  }
  .card_body {
    p {
      color: #fff;
      font-size: 0.9rem;
      width: 80%;
      margin: auto;
    }
  }
}

.attack_surface_montring_section {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(#191476, 1),
    rgba(#191476, 1)
  );
  padding: 160px 0;
  h5 {
    background: linear-gradient(to right, #9fb5ff, #d99dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
  }
  p {
    color: #fff;
    margin-top: 24px;
    font-size: 0.9rem;
  }
  a {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    i {
      margin-left: 10px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }
  .fram1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 470px;
    max-width: 470px;
  }
  .fram2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 500px;
    max-width: 500px;
  }
}

.factures_cards {
  // padding-top: 600px;
  background-image: linear-gradient(
    to bottom,
    rgba(#191476, 1),
    rgba(#191476, 1)
  );
  padding: 100px 0;
  .factures_n_card {
    padding: 40px 32px;
    min-height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom right,
      rgba(#3833ad, 1),
      rgba(#0e0f75, 0.1),
      rgba(#131387, 0.5)
    );
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(#00000040, 0.1);
    h5 {
      font-size: 2rem;
      color: #fff;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
      color: #fff;
    }
  }
}

.request_free_report {
  padding: 84px 0;
  .wrapper {
    background-image: linear-gradient(
    to right,
    rgba(#7d98f5, 0.1),
    rgba(#a10bff, 0.1)
  );
    padding: 90px 0;
    text-align: center;
    h5 {
      background: linear-gradient(to right, #9fb5ff, #d99dff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
      color: #fff;
      margin: 16px 0 35px 0;
    }
    .news_letter {
      flex-direction: column;
      // padding-left: 60px;
      h5 {
        color: #fff;
        font-weight: 500;
        margin-bottom: 40px;
      }
      .form_group {
        height: 65px;
        background-color: #fff;
        border-radius: 24px;
        width: 500px;
        margin: auto;
        max-width: 100%;
        position: relative;
        button {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          right: 5px;
          height: 90%;
          width: 170px;
          border-radius: 24px;
          border: 0;
          border: 1px solid #0c0c68;
          background-color: #0c0c68;
          color: #fff;
          font-size: 0.9rem;
          &:hover {
            background-color: #fff;
            color: #0c0c68;
          }
        }
      }
      input {
        height: 100%;
        border-radius: 24px;
      }
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .request_free_report .wrapper {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-image: linear-gradient(
    to right,
    rgba(#7d98f5, 0.1),
    rgba(#a10bff, 0.1)
  );
  }
}

.section_img_par {
  padding: 190px 0;
  position: relative;
  .vector_img {
    position: absolute;
    top: -200px;
    right: 0;
  }
  .section_img_par_content {
    h5 {
      background: linear-gradient(to right, #9fb5ff, #d99dff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
      color: #fff;
      margin: 25px 0;
    }
    li {
      margin-bottom: 32px;
      p {
        margin: 0;
        margin-left: 10px;
        font-size: 1rem;
      }
    }
  }
}

.first_section_img_par {
  padding-bottom: 90px;
  padding-top: 100px;
}
.second_section_img_par {
  padding-top: 0;
}

.asked_question {
  padding: 80px 0;
  background-image: linear-gradient(
    to right,
    rgba(#7d98f5, 0.1),
    rgba(#a10bff, 0.1)
  );
  .asked_question_title {
    h5 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 50px;
      margin-bottom: 0;
    }
  }
  .asked_question_tabs {
    width: 95%;
    margin-left: auto;
    .accordion-item,
    .accordion-header,
    .accordion-button {
      background-color: #0c0c68;
      border: 0;
      color: #fff;
      font-size: 0.9rem;
      border-radius: 8px;
    }
    .accordion-header {
      .accordion-button {
        font-size: 1rem;
        &:focus {
          outline: 0 !important;
          box-shadow: none !important;
        }
      }
    }
    .accordion-item {
      margin-bottom: 15px;
      p {
        color: rgba(255, 255, 255, 0.801);
        font-size: 0.9rem;
      }
    }
    .accordion-button:not(.collapsed) {
      box-shadow: none !important;
      outline: 0 !important;
    }
    .accordion-button::after {
      -webkit-filter: invert(100%) brightness(4); /* Safari/Chrome */
      filter: invert(100%) brightness(4);
    }
    .accordion-button:not(.collapsed)::after{
      -webkit-filter: invert(100%) brightness(8); /* Safari/Chrome */
      filter: invert(100%) brightness(8);
    }
  }
}

.our_services {
  padding: 80px 0 120px 0;
  background-color: #0c0b68;
  position: relative;
  overflow: hidden;
  .our_services_image_top {
    position: absolute;
    top: 0;
    right: 0;
  }
  .top_section_parent_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    opacity: 0.3;
  }
  .section_header {
    text-align: center;
    margin-bottom: 34px;
    h4 {
      font-size: 1.4rem;
      color: #3ed5dd;
    }
    h5 {
      font-size: 4rem;
      color: #fff;
    }
    p {
      margin-top: 24px;
      color: #fff;
      font-weight: 200;
    }
  }
  .slick-list {
    padding: 50px 0;
  }
  .slick-slide {
    margin: 0 25px;
  }
}

.our_services_card {
  background-image: linear-gradient(
    to right,
    rgba(#565656, 0.2),
    rgba(#5a5a5a00, 0),
    rgba(#565656, 0.5)
  );
  // width: fit-content;
  border-radius: 10px;
  padding: 35px 0;
  // padding-bottom: 40px;
  text-align: center;
  min-height: 160px;
  max-height: 180px;
  position: relative;
  h5 {
    color: #fff;
    margin: 0;
    margin-top: 30px;
  }
  .card_icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0c0c68;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    img {
      // filter: grayscale(1) invert(1);
    }
  }
  &:hover {
    .card_icon {
      background-image: linear-gradient(
        to bottom,
        rgba(#ffffff, 0.52),
        rgba(#5390d9, 0.64)
      );
    }
  }
}

.pixel_by_pixel {
  background-color: #111163;
  padding: 70px 0;
  @extend %backgroundImage;
  .section_header {
    margin-bottom: 45p;
    h5 {
      font-size: 2.3rem;
      line-height: 50px;
      color: #fff;
    }
  }
  .accordion-item .accordion-button,
  .accordion-item {
    background-color: transparent;
    color: #fff;
    border: 0;
  }
  .accordion-button:not(.collapsed),
  .accordion-button:focus {
    box-shadow: none !important;
  }
  .accordion-item {
    border-bottom: 1px solid #5c95dbca;
    border-radius: 0;
    .accordion-button {
      padding: 25px 0;
      h5 {
        font-size: 1.3rem;
        margin-left: 10px;
        font-weight: 300;
      }
    }
    .accordion-button::after {
      filter: invert(1) grayscale(1);
    }
    .number {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: linear-gradient(
        to right,
        rgba(#ffffff86, 0.52),
        rgba(#1258eaa4, 0.64)
      );
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .accordion-body {
      padding-left: 0;
    }
    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      margin-left: 50px;
    }
  }
}

.firtify_your_business {
  background-color: #111163;
  padding: 80px 0;
  position: relative;
  .fortify_svg {
    position: absolute;
    bottom: 100px;
    right: 0;
    // z-index: -1;
  }
  .firtify_your_business_img {
    position: relative;
    z-index: 4;
    .card_img {
      height: 850px;
      img {
        border-radius: 16px;
        width: 90%;
      }
    }
  }
  .firtify_your_business_content {
    position: relative;
    z-index: 4;
    .head {
      color: #fff;
      font-size: 3.5rem;
      font-weight: 600;
      margin-bottom: 50px;
    }
  }
}

.firtify_your_business_card {
  background-image: linear-gradient(
    to right,
    rgba(#1f1881, 1),
    rgba(#0d0e72, 1)
  );
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 43px;
  min-height: 320px;
  h6,
  p {
    color: #fff;
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 15px;
  }
  p {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.why_choose_sekurd {
  background-color: #111163;
  padding: 80px 0;
  position: relative;
  .fortify_svg {
    position: absolute;
    top: -300px;
    left: 0;
  }
  .section_header {
    margin-bottom: 60px;
    position: relative;
    z-index: 3;
    h5 {
      font-size: 2.4rem;
      color: #fff;
      text-align: center;
    }
  }
}

.why_choose_sekurd_card {
  align-items: flex-start;
  margin-bottom: 60px;
  position: relative;
  z-index: 3;
  .card_icon {
    display: inline-flex;
    margin-right: 15px;
  }
  h6,
  p {
    color: #fff;
  }
  p {
    margin: 0;
    margin-top: 20px;
  }
  h6 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    margin-top: 3px;
  }
}

.dont_wait {
  background-color: #111163;
  padding: 80px 0;
  position: relative;
  .dont_wait_wrapper {
    padding: 20px 40px;
    border-radius: 16px;
    position: relative;
    &::after {
      border-radius: 16px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(20, 42, 166, 0.9);
    }
    h5 {
      font-size: 2.5rem;
      color: #fff;
      position: relative;
      z-index: 6;
    }
    a {
      background-color: #ff9500;
      border: 1px solid #ff9500;
      position: relative;
      z-index: 6;
      padding: 16px 40px;
      display: inline-block;
      border-radius: 45px;
      color: #fff;
      margin-top: 24px;
      &:hover {
        color: #ff9500;
        border: 1px solid #fff !important;
        background-color: #fff;
      }
    }
  }
  .dont_wait_img {
    position: relative;
    z-index: 4;
  }
}

.industries {
  background-color: #111163;
  position: relative;
  padding: 80px 0;
  overflow: hidden;
  .container-fluid {
    padding-right: 0;
  }
  .wrapper {
    // border: 2px dashed #5C96DB;
    // border-radius: 20px;
    padding-left: 60px;
    position: relative;
    .frame {
      position: absolute;
      // display: none;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .section_header {
    text-align: center;
    margin-bottom: 90px;
    h5 {
      font-size: 4rem;
      color: #fff;
      font-weight: 500;
    }
  }
  ul {
    li {
      // margin-bottom: 15px;
      margin-bottom: 12px;
      position: relative;
      padding: 7px 0;
      padding-left: 15px;
      cursor: pointer;
      width: fit-content;
      p {
        color: #fff;
        margin: 0;
        position: relative;
        z-index: 3;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: #1429a6;
        transform: translate(0, -50%);
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        &::after {
          width: 100px;
        }
      }
      &.dotactive {
        &::after {
          width: 100px;
        }
      }
    }
  }
  .swiper {
    margin: 100px 0;
    margin-left: auto;
    width: 850px;
    overflow: visible;
    /* Allow visibility outside the container */
  }

  .swiper .card_img {
    position: relative;
    // padding: 50px 0;
    height: 600px;
    width: 100%;
    // &::after{
    //   position: absolute;
    //   content: "";
    //   width: 100%;
    //   height: 100%;

    // }
    .line {
      position: absolute;
      top: 0;
      left: 40px;
      z-index: 3;
      img {
        height: 480px;
      }
    }
    .card_content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 40px;
      padding-left: 80px;
      width: 100%;
      background-color: rgba(#0c0c6866, 0.5);
      z-index: 4;
      h5 {
        color: #fff;
        font-weight: 600;
        font-size: 2rem;
      }
      p {
        color: #fff;
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.testemonial {
  background-color: rgb(17, 17, 99, 1);
  padding: 150px 0 80px 0;
  padding-top: 0;
  position: relative;
  z-index: 9;
  .section_header {
    text-align: center;
    h6 {
      text-transform: uppercase;
      color: #3ed5dd;
      font-size: 1.2rem;
    }
    h5 {
      font-size: 3.5rem;
      color: #fff;
      font-weight: 600;
    }
  }
}

.testemonial_card {
  background-color: #aaaaaa0f;
  padding: 32px;
  border-radius: 16px;
  margin-top: 40px;
  position: relative;
  z-index: 9;
  p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
  }
  .card_img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 16px;
    img {
      border-radius: 50%;
    }
  }
  .card_body {
    h5 {
      font-size: 1.3rem;
      color: #fff;
      font-weight: 400;
      margin: 0;
    }
    p {
      font-size: 0.8rem;
      margin: 0;
    }
    i {
      color: #ffa41b;
    }
  }
}

.dark_web {
  background-color: #111163;
  padding: 100px 0 120px 0;
  padding-bottom: 20px;
  position: relative;
  .fortify_svg {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 3;
  }
  .dark_web_content {
    h5 {
      font-size: 4rem;
      font-weight: 600;
      color: #fff;
    }
  }
}

.dark_web_card {
  background-color: #aaaaaa0f;
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 20px;
  min-height: 220px;
  max-height: 220px;
  h5 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
  p {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 16px;
    line-height: 25px;
  }
}

.custom_footer {
  background-color: rgb(17, 17, 99, 1);
  padding: 100px 0;
  // padding-top: 0;
  .footer_logo {
    img {
      margin-bottom: 15px;
    }
    p {
      color: #fff;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
    ul {
      // margin-top: 15px;
      li {
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.3s ease-in-out;
        a {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          i {
            color: #fff;
          }
        }
        img {
          margin-bottom: 0 !important;
          width: 60%;
          margin: auto;
          margin-top: -2px;
        }
        &:hover {
          background-color: #2b4fc9;
        }
      }
    }
  }
  .footer_links {
    h5 {
      color: #fff;
      font-weight: 500;
      margin-bottom: 20px;
    }
    ul {
      li {
        margin: 0;
        margin-bottom: 10px;
        a {
          margin: 0 !important;
          color: #fff;
          font-weight: 300;
          font-size: 0.9rem;
          i {
            margin-right: 10px;
            margin-top: 3px;
          }
        }
        .d-flex {
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .news_letter {
    flex-direction: column;
    padding-left: 60px;
    h5 {
      color: #fff;
      font-weight: 500;
      margin-bottom: 40px;
    }
    .form_group {
      height: 65px;
      background-color: #fff;
      border-radius: 24px;
      width: 500px;
      max-width: 100%;
      position: relative;
      button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 5px;
        height: 90%;
        width: 150px;
        border-radius: 24px;
        border: 0;
        border: 1px solid #1429a6;
        background-color: #1429a6;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: #1429a6;
        }
      }
    }
    input {
      height: 100%;
      border-radius: 24px;
    }
  }
}

.pricing {
  position: relative;
  z-index: 7;
  background-image: linear-gradient(
    to right,
    rgba(#1429a6, 0.6),
    rgba(#081040, 1)
  );
  .pricing_table_wrapper {
    // background-color: #1429a6;
    padding: 85px 60px;
    border-radius: 25px;
    margin-top: 50px;
  }
  table {
    width: 100%;
    min-width: 600px;
    overflow: auto;
    thead {
      text-align: center;
      th {
        border-bottom: 1px solid #5c95dbbb;
        padding: 20px 0;
        vertical-align: middle;
        width: calc(100% / 4);
        span {
          font-size: 1.1rem;
        }
        button {
          display: block;
          background-color: #fff;
          color: #002047;
          border-radius: 5px;
          padding: 10px;
          border: 0;
          margin: auto;
          margin-top: 5px;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #0c0c68;
            color: #fff;
          }
          &:focus {
            background-color: #0c0c68;
            color: #fff;
          }
        }
      }
      p,
      span {
        color: #fff;
        font-size: 0.9rem;
        font-weight: 400;
      }
      p {
        font-weight: 500;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 0;
        span {
          font-weight: 300;
          font-size: 0.9rem;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          border-bottom: 1px solid #5c95dbbb;
          padding: 20px 0;
          vertical-align: middle;
          width: calc(100% / 4);
          &:first-child {
            text-align: left;
            p {
              font-size: 0.9rem !important;
            }
          }
          p {
            color: #fff;
            font-size: 1rem;
            margin: 0;
          }
          span {
            color: #fff;
          }
        }
        &:last-child {
          td {
            border-bottom: 0;
            p {
              font-size: 0.9rem;
              font-weight: 300;
              margin: 0;
            }
            .recomen {
              display: flex;
              align-items: center;
              background-color: #1aa53d;
              color: #fff;
              padding: 11px 7px;
              border-radius: 5px;
              width: fit-content;
              margin: auto;
              p {
                font-size: 0.8rem;
                font-weight: 300;
              }
              img {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .section_header {
    text-align: center;
    margin-bottom: 50px;
    h5 {
      font-size: 2.5rem;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: $mainColor;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $secondColor;
  }
}

// =============================================================
.custom_header_terms {
  height: 40vh !important;
  .header_content {
    align-items: flex-end !important;
    padding-bottom: 20px;
  }
  p {
    font-size: 1.1rem !important;
  }
}

.terms_conditions {
  background-color: #111163;
  padding-bottom: 150px;
  p {
    color: #fff;
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 35px;
    span {
      display: block;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

.facts_number {
  // background-image: url("../images/fact_bg.png");
  padding: 180px 0;
  padding-top: 0;
  @extend %backgroundImage;
  background-color: #111163;
  position: relative;
  // &::after {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 231px;
  //   background-image: linear-gradient(
  //     to top,
  //     rgba(#00142c, 0),
  //     rgba(#00142c, 1)
  //   );
  //   content: "";
  // }
}

.custom_facts_header {
  background-image: unset;
}

.fact_card {
  text-align: center;
  .fact_img {
    width: 152px;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $secondColor;
    border-radius: 50%;
    margin: auto;
  }
  .fact_body {
    text-align: center;
    h5,
    span {
      color: #fff;
      font-size: 4rem;
      font-weight: bold;
      margin-top: 35px;
    }
    p {
      color: #fff;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.why_choose_us_team_certificate_wrapper {
  background-color: #111163;
  padding: 125px 0;
  padding-top: 0;
  position: relative;
  .circle {
    position: absolute;
    top: -120px;
    right: 0px;
    z-index: 2;
    img {
      // width: 45%;
    }
  }
  .section_header {
    text-align: center;
    margin-bottom: 53px;
    position: relative;
    z-index: 3;
    h5 {
      color: #fff;
      font-size: 3rem;
    }
  }
}
.why_choose_us_card {
  background-color: #aaaaaa0f;
  padding: 65px 35px;
  text-align: center;
  min-height: 540px;
  position: relative;
  z-index: 5;
  margin-bottom: 15px;
  .card_icon {
    margin-bottom: 35px;
  }
  h5 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    width: 80%;
    margin: auto;
  }
  p {
    margin-top: 25px;
    color: #fff;
    font-size: 1rem;
  }
}

.team_certificate {
  padding-top: 124px;
  position: relative;
  z-index: 3;
  .certificate_proffesional {
    background-color: #aaaaaa0f;
    padding: 65px 80px;
    h5,
    p {
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 1.5rem;
    }
    p {
      font-weight: 300;
      font-size: 1rem;
      margin-bottom: 40px;
    }
    .slider_item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      .card_icon {
        // border: 1px solid #fff;
        width: 135px;
        height: 135px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 78%;
        display: inline-flex;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      // margin: 0;
      bottom: -60px;
      // padding: 1rem 0;
      list-style-type: none;
      li {
        // margin: 0 0.25rem;
        margin: 0 0;
        &::after {
          content: "";
        }
      }

      button {
        display: block;
        width: 12px;
        height: 12px;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #002047;
        &::before {
          content: "";
        }
      }

      li.slick-active button {
        background-color: $secondColor;
      }
    }
  }
}

.acwnologe_by {
  background-color: #0c0b68;
  padding: 83px 0;
  .section_header {
    margin-bottom: 40px;
    h5 {
      color: #fff;
      font-size: 3rem;
    }
  }
  .acwnologe_by_slider {
    .card_icon {
      height: 100px;
      // border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 150px;
      }
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    // margin: 0;
    bottom: -60px;
    // padding: 1rem 0;
    list-style-type: none;
    li {
      // margin: 0 0.25rem;
      margin: 0 0;
      &::after {
        content: "";
      }
    }

    button {
      display: block;
      width: 12px;
      height: 12px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #002047;
      &::before {
        content: "";
      }
    }

    li.slick-active button {
      background-color: $secondColor;
    }
  }
}

.product_custom_header {
  .header_content {
    h5 {
      font-size: 3.5rem;
    }
    .header_links_demo {
      background-color: #ff9500;
    }
  }
}

.find_fix {
  position: relative;
  min-height: 880px;
  background-color: #0c0b68;
  .section_header {
    position: relative;
    z-index: 5;
    margin-top: 70px;
    h5 {
      color: #fff;
      font-size: 2.4rem;
      line-height: 60px;
    }
  }
  .find_fix_img {
    position: absolute;
    left: 0;
    top: 0;
    // display: none;
    border-top-right-radius: 16px;
    width: 40%;
    .card_img {
      height: 880px;
      border-top-right-radius: 16px;
      img {
        border-top-right-radius: 16px;
      }
    }
  }
}

.find_fix_card {
  padding: 32px;
  background-image: linear-gradient(
    to bottom right,
    rgba(#c78bff, 0.03),
    rgba(#2424d91a, 0.03),
    rgba(#0c0c68, 0.03)
  );
  border-radius: 16px;
  position: relative;
  z-index: 5;
  margin-top: 30px;
  min-height: 285px;
  .card_icon {
    img {
      width: 58px;
    }
  }
  .card_body {
    h5 {
      font-size: 1.1rem;
      font-weight: 700;
      margin-top: 15px;
      color: #fff;
    }
    p {
      font-size: 0.9rem;
      font-weight: 200;
      margin-top: 10px;
      color: #fff;
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .find_fix_card {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-image: linear-gradient(
      to bottom right,
      rgba(#c78bff, 0.08),
      rgba(#2424d91a, 0.1),
      rgba(#0c0c68, 0.07)
    );
  }
}

.key_features {
  padding-top: 110px;
  background-color: #0c0b68;
  position: relative;
  overflow: hidden;
  .circle_colored {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .section_header {
    text-align: center;
    padding-bottom: 70px;
    h5 {
      color: #fff;
      font-size: 2.5rem;
      margin-bottom: 0;
    }
  }
  // ul {
  //   position: relative;
  //   &::after {

  //   }
  // }
  .key_features_points {
    position: relative;
  }
  .line_dashed {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 85%;
    z-index: 3;
    border: 1px dashed #5c96db;
    right: -95px;
    left: 50%;
    transform: translate(-50%, 0);
    ul {
      li {
        border-radius: 50%;
        border: 1px dashed #5c96db;
        width: 20px;
        height: 20px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        position: relative;
        right: 10px;
        margin-bottom: 105px;
        span {
          width: 10px;
          height: 10px;
          background-color: #5c96db;
          border-radius: 50%;
        }
      }
    }
  }
}
.feature_card {
  margin-bottom: 50px;
  width: fit-content;
  // border: 1px solid #000;
  width: 507px;
  max-width: 100%;
  text-align: right;
  position: relative;
  h5 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
  }
  p {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 300;
  }
  &.reverse_right {
    margin-left: auto;
    text-align: left;
  }
}

.deep_dive {
  background-color: #0c0b68;
  padding-top: 50px;
  position: relative;
  .vector_7 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .vector_8 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .section_header {
    text-align: center;
    margin-bottom: 80px;
    h5 {
      font-size: 2.5rem;
      color: #fff;
    }
  }
}

.deep_dive_card {
  margin-bottom: 35px;
  position: relative;
  z-index: 8;
  .card_icon {
    img {
      width: 20px;
    }
  }
  h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  p {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    width: 80%;
  }
}

.dont_wait {
  .dont_wait_wrapper {
    background-image: linear-gradient(
      to right,
      rgba(#99009e, 0.2),
      rgba(#071fad, 0.4)
    ) !important;
    padding: 90px;
    text-align: center;
    &::after {
      display: none;
    }
  }
}

.dark_web_montring_header {
  min-height: 90vh;
  height: auto;
  padding-top: 200px;
  .header_content {
    text-align: center;
    margin-bottom: 70px;
    h5 {
      font-size: 3.5rem;
      background: linear-gradient(to right, #9fb5ff, #d99dff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .tabs_for {
    border-radius: 48px;
    background-color: #00000033;
    z-index: 5;
    position: relative;
    padding: 0px 0;
    width: fit-content;
    margin: auto;
    li {
      padding: 18px 25px;
      height: 100%;
      border-radius: 48px;
      a {
        color: #fff;
        font-size: 1rem;
      }
      &.active {
        background-image: linear-gradient(
          to right,
          rgba(#3e1388, 1),
          rgba(#052490, 1)
        );
      }
    }
  }
  .page_title {
    text-align: center;
    margin-top: 70px;
    h5 {
      color: #fff;
      font-size: 2.4rem;
    }
  }
}

.dark_option_box {
  padding: 64px 24px;
  padding-bottom: 25px;
  background-image: linear-gradient(
    to bottom left,
    rgba(#8516ca, 0.2),
    rgba(#2b5bff, 0.5)
  );
  border-radius: 16px;
  margin-top: 75px;
  margin-bottom: 70px;
  position: relative;
  z-index: 5;
  h5 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  ul {
    margin-top: 50px;
    margin-bottom: 100px;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      span {
        color: #fff;
        margin-left: 15px;
        font-weight: 200;
      }
    }
  }
  .btn_talk {
    position: absolute;
    bottom: 25px;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    a {
      display: block;
      background-image: linear-gradient(
        to right,
        rgba(#bf15b7, 0.4),
        rgba(#020258, 0.6)
      );
      padding: 16px;
      border-radius: 12px;
      text-align: center;
      color: #fff;
    }
  }
}

.dark_option_box_advanced {
  background-image: linear-gradient(
    to right,
    rgba(#0c0c68, 1),
    rgba(#0c0c68, 1)
  ) !important;
  border: 4px solid #cd81da4d;
}

.attack_dark_option_box_advanced {
  min-height: 835px;
  h5 {
    // margin-bottom: 0;
  }
  ul {
    margin-bottom: 50px;
  }
  p {
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    span {
      color: #ce36ad;
    }
  }
}

.about_us_web_montring_header {
  min-height: 55vh;
  .header_content {
    text-align: center;
    p {
      font-size: 1.3rem;
      font-weight: 300;
      width: 55%;
      margin: auto;
      margin-bottom: 20px;
    }
    a {
      padding: 16px 24px;
      display: block;
      border-radius: 60px;
      width: fit-content;
      color: #fff;
      margin: auto;
      background-image: linear-gradient(
        to right,
        rgba(#3e1388, 1),
        rgba(#052490, 1)
      );
    }
  }
}

.why_choose_us {
  background-color: #0c0b68;
  padding: 70px 0;
  position: relative;
  .vector_9 {
    position: absolute;
    top: 70%;
    transform: translate(0, -50%);
    right: 0;
    z-index: 1;
  }
  .vector_10 {
    position: absolute;
    top: 70%;
    transform: translate(0, -50%);
    left: 0;
    z-index: 1;
  }
  .section_header {
    text-align: center;
    h5 {
      color: #fff;
      font-size: 2rem;
    }
  }
  .why_choose_us_cards {
    position: relative;
    z-index: 5;
  }
}

.why_choose_us_card {
  background-image: linear-gradient(
    to right bottom,
    rgba(#2424d91a, 0.1),
    rgba(#0c0c68, 0.1)
  );
  border-radius: 16px;
  min-height: 450px;
  padding: 80px 32px;
  margin-top: 73px;
  position: relative;
  z-index: 5;
  .card_icon {
    margin-bottom: 15px;
  }
  p {
    font-size: 0.9rem;
    line-height: 25px;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .why_choose_us_card {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
      to right bottom,
      rgba(#2424d91a, 0.1),
      rgba(#0c0c68, 0.1)
    );
  }
}

.testemonials_new {
  background-color: #0c0b68;
}

.testemonials_new_card {
  .card_body {
    margin-left: 14px;
    h5 {
      font-size: 2.5rem;
      color: #fff;
      font-kerning: bold;
      margin: 0;
    }
    p {
      font-size: 0.9rem;
      color: #fff;
      font-weight: 200;
      margin: 0;
      margin-top: 5px;
    }
  }
}

.team_certificate {
  padding: 90px 0;
  background-color: #0c0b68;
  padding-top: 160px;
  .section_header {
    text-align: center;
    h5 {
      color: #fff;
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
      color: #fff;
      margin-top: 20px;
    }
  }
}

.team_certificate_slider {
  margin-top: 75px;
  .card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    // border: 1px solid #000;
    position: relative;
    img {
      display: block;
      width: 60%;
    }
  }
}

.aknowlged_by {
  background-color: #0c0b68;
  .aknowlged_by_wrapper {
    background-image: url("../images/index.png");
    padding: 94px;
    padding-bottom: 50px;
    position: relative;
    @extend %backgroundImage;
    border-radius: 16px;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(#0c0c68, 0.8);
    }
    .section_header {
      position: relative;
      z-index: 3;
      h5 {
        color: #fff;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 60px;
      }
    }
    .aknowlged_by_slider {
      position: relative;
      z-index: 3;
      text-align: center;
      margin-bottom: 0;
      .card_icon {
        height: 100px;
        // border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 180px;
        margin: auto;
      }
    }
  }
}

.our_partners_new {
  padding: 150px 0;
  position: relative;
  .vecor_92 {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translate(0, -50%);
  }
  .section_header {
    position: relative;
    z-index: 3;
    h5 {
      color: #fff;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 60px;
    }
  }
  .aknowlged_by_slider {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-bottom: 0;
    .card_icon {
      height: 100px;
      // border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 180px;
      margin: auto;
    }
  }
}

// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
  .custom_header .half_circle_header {
    width: 35%;
  }
}

@media (max-width: 1100px) {
  .industries .wrapper {
    padding-left: 0;
  }
  .industries .swiper {
    width: 600px;
  }
  .industries .swiper .card_img {
    height: 500px;
  }
  .industries .swiper .card_img .line img {
    height: 380px;
  }
  .custom_footer .news_letter .form_group {
    height: 65px;
  }
  .custom_footer .news_letter .form_group button {
    width: 113px;
  }
  .firtify_your_business .firtify_your_business_content .head {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 13px;
  }
  .custom_navbar {
    .linkslis,
    .get_demo {
      display: none;
    }
  }
  .custom_header .header_content {
    z-index: 7;
  }
  .custom_header .header_img {
    opacity: 0.4;
  }
  .d-none-on-mobile {
    display: none;
  }
  .header_img_on_mobile {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      opacity: 0.3;
    }
  }
  .custom_header .header_content h5,
  .our_services .section_header h5,
  .why_choose_sekurd .section_header h5,
  .dark_web .dark_web_content h5,
  .testemonial .section_header h5,
  .industries .section_header h5 {
    font-size: 3rem;
  }
  .custom_header .header_content h5 {
    line-height: 50px;
  }
  .custom_header {
    height: 85vh;
  }
  .firtify_your_business .firtify_your_business_img .card_img img {
    width: 100%;
  }
  .firtify_your_business .firtify_your_business_img .card_img {
    height: 500px;
    margin-bottom: 30px;
  }
  .why_choose_sekurd_card {
    margin-bottom: 30px;
  }
  .dont_wait .dont_wait_img {
    text-align: right;
    img {
      width: 60%;
    }
  }
  .industries .section_header {
    margin-bottom: 0;
  }
  .dark_web .dark_web_content h5 {
    margin-bottom: 20px;
  }
  .custom_footer .news_letter {
    padding-left: 0;
    margin-top: 30px;
  }
  .dark_web .dark_web_content h5,
  .firtify_your_business .firtify_your_business_content .head {
    br {
      display: none;
    }
  }
  .industries .swiper .card_img .card_content h5,
  .industries .swiper .card_img .card_content p {
    width: 70%;
  }
  .industries .swiper .card_img .card_content {
    padding-left: 20px;
  }
  .industries .swiper .card_img .line {
    img {
      height: 330px;
    }
  }
  .custom_navbar {
    .navbar-links {
      justify-content: space-between;
      .navbar_toggler_btn {
        display: inline-flex;
        i {
          color: #fff;
          font-size: 2rem;
        }
      }
    }
  }
  .pricing .pricing_table_wrapper {
    padding: 80px 20px;
  }
  .facts_number {
    padding: 70px 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 11px;
  }
  .custom_header {
    height: 90vh;
  }
  .custom_header .half_circle_header {
    width: 100%;
  }
  .custom_header .header_img_on_mobile {
    z-index: 6;
  }
  .firtify_your_business .firtify_your_business_img .card_img {
    height: 400px;
  }
  .why_choose_sekurd_card .card_icon {
    width: 100px;
  }
  .industries .section_header {
    margin-bottom: 90px;
  }
  .custom_footer .footer_links h5 {
    margin-top: 40px;
  }
  .custom_header .header_links .header_links_packaged {
    margin-top: 20px;
  }
  .custom_header .header_content h5 {
    font-size: 2.2rem;
    line-height: 40px;
  }
  .custom_header .header_content p {
    font-size: 1.6rem;
  }
  .our_services .section_header h5,
  .pixel_by_pixel .section_header h5,
  .firtify_your_business .firtify_your_business_content .head,
  .why_choose_sekurd .section_header h5 {
    font-size: 2.2rem;
  }
  .testemonial {
    padding-top: 60px;
  }
  .order-mobile-second {
    order: 2;
  }
  .order-mobile-first {
    order: 1;
  }
  .our_services .slick-slide {
    margin: 0 10px;
  }
  .industries .swiper .card_img {
    height: 400px;
  }
  .industries .swiper {
    margin-top: 40px;
  }
  .industries .swiper .card_img .card_content h5,
  .industries .swiper .card_img .card_content p {
    width: 50%;
  }
  .custom_header .header_links a {
    padding: 14px 10px;
  }
  .dark_web_card,
  .firtify_your_business_card {
    padding: 22px;
  }
  .dark_web_card p {
    line-height: 18px;
  }
  .dont_wait .dont_wait_img {
    display: none;
  }
  .firtify_your_business_card {
    min-height: auto;
    // width: 80%;
    // margin-right: auto;
    // margin-left: auto;
    img {
      width: 60px;
    }
  }
  .terms_conditions {
    padding-bottom: 10px;
  }
  .facts_number {
    padding: 100px 0;
  }
  .about_custom_header {
    height: 70vh;
  }
  .fact_card {
    margin-bottom: 25px;
    img {
      width: 40%;
    }
  }
  .fact_card .fact_img {
    width: 120px;
    height: 120px;
  }
  .why_choose_us_card {
    min-height: auto;
  }
}
.scheduleButton {
  cursor: pointer;
}
.mm-listitem:after {
  left: 0;
}

.inner_custom_navbar {
  .scheduleButton {
    background-color: #2b4fc9 !important;
    &:hover {
      background-color: #fff !important;
    }
  }
}

#menu {
  .active {
    a {
      color: #5c96db;
    }
  }
}

// =============================================================
/* Shared styles  */
%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%imglikebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%imgParent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%btnColor {
  padding: 10px 40px;
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 5px;
  color: #fff;
  font-family: jannab;
}
